page-home {
    ion-header{
        background: red !important;
        color: white;
    }
    ion-content{
        background: blue !important;
    }
    ion-card{
        background: #ffffff !important;
    }

}
